<style>

        h1 {
            color:red;
            background-color:green;
            text-align:right;

        }
#main_title { 
    color:green;
    background-color: green;
}
        h2  {
            color:green;
            background-color:yellow;
        }
    </style>
